.book-a-trip {
    -ms-grid-column: 2;
    grid-column: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 1100px) {
  .book-a-trip {
    width: 70vw;
    margin: 60px auto 0;
  }
}

@media screen and (max-width: 680px) {
  .book-a-trip {
    width: 90vw;
    margin: 40px auto 0;
  }
}