.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  position: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding: 0 7.2vw 0 17.5vw;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header .logo {
  position: relative;
  cursor: pointer;
}

.header .logo .logo__rectangle {
  width: 12px;
  height: 50px;
  border: 3px solid #ccc;
  border-radius: 10px;
}

.header .logo .logo__letter {
  text-decoration: none;
  position: absolute;
  font-size: 14px;
  color: #000;
}

.header .logo .logo__letter_l {
  top: 0;
  left: -13px;
}

.header .logo .logo__letter_nt {
  top: 0;
  right: -15px;
}

.header .logo .logo__letter_d {
  bottom: 0;
  left: -13px;
}

.header .logo .logo__letter_nb {
  bottom: 0;
  right: -15px;
}

.navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation__links .navigation__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10vw;
}

.navigation__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
}

.navigation__link:hover {
  font-weight: bold;
}

.lead {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  padding-top: 120px;
}

.lead__title {
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 1.7vw;
  font-weight: normal;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 0;
  padding-left: 7vw;
  padding-bottom: 0.6vw;
}

.lead__title .lead__word {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10vw;
  position: absolute;
  bottom: -0.7vw;
  right: 76vw;
  font-size: 8.6vw;
  display: inline-block;
  font-style: normal;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  letter-spacing: 10px;
}

.lead__img {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .navigation__links .navigation__item {
    width: 14vw;
  }
  .lead {
    padding-top: 85px;
    -ms-grid-columns: 275px 1fr;
        grid-template-columns: 275px 1fr;
    min-height: 435px;
  }
  .lead__title {
    font-size: 18.7px;
    padding-left: 77px;
    padding-bottom: 6.5px;
  }
  .lead__title .lead__word {
    width: 110px;
    bottom: -7.7px;
    left: 160px;
    font-size: 94px;
    letter-spacing: 10px;
  }
  .header {
    height: 80px;
  }
  .logo {
    position: relative;
  }
  .logo .logo__rectangle {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 10px;
    height: 40px;
    border-radius: 8px;
  }
  .logo .logo__letter {
    font-size: 12px;
  }
  .lead__img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -50px;
       object-position: -50px;
  }
}

@media screen and (max-width: 786px) {
  .header {
    padding: 0 40px 0 40px;
  }
  .navigation__links .navigation__item {
    width: 18.3vw;
  }
  .navigation__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  .navigation {
    display: none;
  }
  .header:hover {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header:hover > .navigation {
    display: block;
  }
  .navigation__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation__links .navigation__item {
    width: 100vw;
    text-align: center;
    margin-top: 10px;
  }
  .navigation__link {
    width: 100%;
    font-size: 20px;
  }
  .logo {
    margin: 15px auto;
  }
  .lead {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    min-height: 70vw;
  }
  .lead__title {
    font-size: 5vw;
    padding-left: 5vw;
    padding-bottom: 4vw;
  }
  .lead__title .lead__word {
    width: 20vw;
    bottom: -1.4vw;
    left: 29vw;
    font-size: 15vw;
    letter-spacing: 1.8vw;
  }
  .lead__img {
    height: 70vw;
  }
}
/*# sourceMappingURL=index.css.map */