.navigation__link {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-size: 14px;
    letter-spacing: 2px;
}
  
.navigation__link:hover {
    font-weight: bold;
}

@media screen and (max-width: 786px) {
  .navigation__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  .navigation__link {
    width: 100%;
    font-size: 20px;
  }
}