.header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: inherit;
    width: 100vw;
    max-width: 1660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    padding: 0 7.2vw 0 17.5vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media screen and (min-width: 1660px) {
    .header {
      padding: 0 115px 0 280px;
  }
}

@media screen and (max-width: 1100px) {
    .header {
      height: 80px;
    }
}

@media screen and (max-width: 786px) {
    .header {
      padding: 0 40px 0 40px;
    }
}

@media screen and (max-width: 550px) {
    .header {
      cursor: pointer;
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
}