.transport-more {
    -ms-grid-column: 2;
    grid-column: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 0.883fr;
        grid-template-columns: 1fr 1fr 0.883fr;
    gap: 20px;
}

@media screen and (max-width: 722px) {
  .transport-more {
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    -ms-grid-columns: 1.11fr 1.11fr 0.883fr;
        grid-template-columns: 1.11fr 1.11fr 0.883fr;
  }
}

@media screen and (max-width: 600px) {
  .transport-more {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}