.nights {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 150px;
    -ms-grid-column: 2;
    grid-column: 2;
    background-image: url(../../images/nights.jpg);
    color: #fff;
    padding: 40px 80px;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
}

@media screen and (max-width: 1100px) {
  .nights {
    margin-top: 80px;
    padding: 4% 6%;
    background-size: 100vw;
    height: 54vw;
    min-height: auto;
  }
}

@media screen and (max-width: 650px) {
  .nights {
    margin-top: 30px;
    background-size: auto;
    min-height: 350px;
    padding: 20px 30px;
  }
}